doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB
  meta(charset='utf-8')
  meta(name='description' content='Download released versions of OpenRGB.')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='../css/main.css')
  // Favicon
  link(rel='apple-touch-icon' sizes='180x180' href='../../static/favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='../../static/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../../static/favicon/favicon-16x16.png')
  link(rel='manifest' href='../../static/favicon/site.webmanifest')
  link(rel='mask-icon' href='../../static/favicon/safari-pinned-tab.svg' color='#00d084')
  link(rel='shortcut icon' href='../../static/favicon/favicon.ico')
  meta(name='msapplication-TileColor' content='#00d084')
  meta(name='msapplication-config' content='../../static/favicon/browserconfig.xml')
  meta(name='theme-color' content='#00d084')
  //OpenGraph Tags
  meta(property='og:image' content='../../static/favicon/og-image.jpg')
  meta(property='og:image:width' content='211')
  meta(property='og:image:height' content='211')
  meta(property='og:description' content="Open source RGB lighting control that doesn't depend on manufacturer software")
  meta(property='og:title' content='OpenRGB')
  meta(property='og:url' content='https://openrgb.org')
  // Scripts
  script(src='../../node_modules/jquery/dist/jquery.min.js')
  script(src='../../node_modules/jquery.scrollex/jquery.scrollex.min.js')
  script(src='../../node_modules/skeljs/dist/skel.min.js')
  script(src='../js/util.js')
  script(src='../js/main.js')
// Header
header#header.alt
  .logo
    a(href='index.pug')
      img(src='../../static/images/OpenRGB White.webp' height='75px')
  a(href='#menu') Menu
// Nav
nav#menu
  ul.links
    li
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB') GitLab
    li
      a(href='releases.pug') Releases
    li
      a(href='plugins.pug') Plugins
    li
      a(href='https://discord.gg/AQwjJPY') Discord
    li
      a(href='https://www.reddit.com/r/OpenRGB/') Reddit
    li
      a(href='devices.pug') Supported Devices
    li
      a(href='https://help.openrgb.org') Troubleshooting
    li
      a(href='resize.pug') Resizing Zones
    li
      a(href='https://www.patreon.com/CalcProgrammer1') Patreon
// Divider
section#divider.wrapper.style3
  .inner
// Downloads
section#downloads.wrapper.style2
  .inner
    header.align-center
      p
        | Release 0.7 (December 30, 2021)
    header.align-center
      a(href='../../static/releases/release_0.7/OpenRGB_0.7_Windows_64_6128731.zip') Windows (64-bit)
      a(href='../../static/releases/release_0.7/OpenRGB_0.7_Windows_32_6128731.zip') Windows (32-bit)
      br
      a(href='../../static/releases/release_0.7/OpenRGB_0.7_x86_64_6128731.AppImage')
        | Linux (64-bit
        | AppImage)
      a(href='../../static/releases/release_0.7/OpenRGB_0.7_i386_6128731.AppImage')
        | Linux (32-bit
        | AppImage)
      br
      a(href='../../static/releases/release_0.7/openrgb_0.7_amd64_buster_6128731.deb')
        | Linux (Debian Buster
        | 64-bit .deb)
      a(href='../../static/releases/release_0.7/openrgb_0.7_i386_buster_6128731.deb')
        | Linux (Debian Buster
        | 32-bit .deb)
      br
      a(href='../../static/releases/release_0.7/openrgb_0.7_amd64_bullseye_6128731.deb')
        | Linux (Debian
        | Bullseye 64-bit .deb)
      a(href='../../static/releases/release_0.7/openrgb_0.7_i386_bullseye_6128731.deb')
        | Linux (Debian Bullseye
        | 32-bit .deb)
      br
      a(href='../../static/releases/release_0.7/openrgb_0.7_armhf_raspbian_bullseye_6128731.deb')
        | Linux
        | (Raspbian Bullseye armhf .deb)
      br
      a(href='../../static/releases/release_0.7/openrgb_0.7_x86_64_6128731.rpm') Linux (64-bit .rpm)
      br
      a(href='../../static/releases/release_0.7/OpenRGB_0.7_MacOS_ARM64_6128731.zip')
        | MacOS (Apple Silicon
        | ARM64)
      a(href='../../static/releases/release_0.7/OpenRGB_0.7_MacOS_Intel_6128731.zip') MacOS (Intel)
    br
    header.align-center
      p
        | Release 0.6 (June 1, 2021)
    header.align-center
      a(href='../../static/releases/release_0.6/OpenRGB_0.6_Windows_64_405ff7f.zip') Windows (64-bit)
      a(href='../../static/releases/release_0.6/OpenRGB_0.6_Windows_32_405ff7f.zip') Windows (32-bit)
      br
      a(href='../../static/releases/release_0.6/OpenRGB_0.6_x86_64_405ff7f.AppImage')
        | Linux (64-bit
        | AppImage)
      a(href='../../static/releases/release_0.6/OpenRGB_0.6_i386_405ff7f.AppImage')
        | Linux (32-bit
        | AppImage)
      br
      a(href='../../static/releases/release_0.6/openrgb_0.6_amd64_405ff7f.deb') Linux (64-bit .deb)
      a(href='../../static/releases/release_0.6/openrgb_0.6_i386_405ff7f.deb') Linux (32-bit .deb)
      br
      a(href='../../static/releases/release_0.6/openrgb_0.6_amd64_bullseye_405ff7f.deb')
        | Linux (Debian
        | Bullseye 64-bit .deb)
      a(href='../../static/releases/release_0.6/openrgb_0.6_i386_bullseye_405ff7f.deb')
        | Linux (Debian Bullseye
        | 32-bit .deb)
      br
      a(href='../../static/releases/release_0.6/openrgb_0.6_x86_64_405ff7f.rpm') Linux (64-bit .rpm)
      br
      a(href='../../static/releases/release_0.6/OpenRGB_0.6_MacOS_ARM64_405ff7f.zip')
        | MacOS (Apple Silicon
        | ARM64)
      a(href='../../static/releases/release_0.6/OpenRGB_0.6_MacOS_Intel_405ff7f.zip') MacOS (Intel)
    br
    header.align-center
      p
        | Release 0.5 (December 6, 2020)
    header.align-center
      a(href='../../static/releases/release_0.5/OpenRGB_0.5_64_88464d1.7z') Windows (64-bit)
      a(href='../../static/releases/release_0.5/OpenRGB_0.5_32_88464d1.7z') Windows (32-bit)
      br
      a(href='../../static/releases/release_0.5/OpenRGB_0.5_x86_64_88464d1.AppImage')
        | Linux (64-bit
        | AppImage)
      a(href='../../static/releases/release_0.5/OpenRGB_0.5_i386_88464d1.AppImage')
        | Linux (32-bit
        | AppImage)
      br
      a(href='../../static/releases/release_0.5/openrgb_0.5_amd64_88464d1.deb') Linux (64-bit .deb)
      a(href='../../static/releases/release_0.5/openrgb_0.5_i386_88464d1.deb') Linux (32-bit .deb)
      a(href='../../static/releases/release_0.5/openrgb_0.5_arm64_88464d1.deb') Linux (arm64 .deb)
    br
    header.align-center
      p
        | Release 0.4 (September 9, 2020)
    header.align-center
      a(href='../../static/releases/release_0.4/OpenRGB_0.4_64_1177e9fa.7z') Windows (64-bit)
      a(href='../../static/releases/release_0.4/OpenRGB_0.4_32_1177e9fa.7z') Windows (32-bit)
      br
      a(href='../../static/releases/release_0.4/OpenRGB_0.4_64_1177e9fa.AppImage') Linux (64-bit AppImage)
      a(href='../../static/releases/release_0.4/OpenRGB_0.4_32_1177e9fa.AppImage') Linux (32-bit AppImage)
    br
    header.align-center
      p
        | Release 0.3 (July 21, 2020)
    header.align-center
      a(href='../../static/releases/release_0.3/OpenRGB_0.3_64_308bb6f9.7z') Windows (64-bit)
      a(href='../../static/releases/release_0.3/OpenRGB_0.3_32_308bb6f9.7z') Windows (32-bit)
      br
      a(href='../../static/releases/release_0.3/OpenRGB_0.3_64_308bb6f9.AppImage') Linux (64-bit AppImage)
    br
    header.align-center
      p
        | Release 0.2 (May 12, 2020)
    header.align-center
      a(href='../../static/releases/release_0.2/OpenRGB_0.2_64_13414ec9.7z') Windows (64-bit)
      a(href='../../static/releases/release_0.2/OpenRGB_0.2_32_13414ec9.7z') Windows (32-bit)
    br
    header.align-center
      p
        | Release 0.1 (March 28, 2020)
    header.align-center
      a(href='../../static/releases/release_0.1/OpenRGB_0.1_64_91c8ec0c.7z') Windows (64-bit)
      a(href='../../static/releases/release_0.1/OpenRGB_0.1_32_91c8ec0c.7z') Windows (32-bit)
// Footer
footer#footer
  .container
    ul.icons
      li
        a.icon.fa-gitlab(href='https://gitlab.com/CalcProgrammer1/OpenRGB')
          span.label GitLab
      li
        a.icon.fa-github(href='https://github.com/CalcProgrammer1/OpenRGB')
          span.label GitHub
      li
        a.icon.fa-reddit(href='https://www.reddit.com/r/OpenRGB')
          span.label Reddit
      li
        a.icon.fa-youtube(href='https://www.youtube.com/c/CalcProgrammer1')
          span.label YouTube
      li
        a.icon.fa-twitter(href='https://twitter.com/CalcProgrammer1')
          span.label Twitter
  div
    img(src='https://visitor-badge.glitch.me/badge?page_id=org.openrgb.../../static/releases' alt='Visitors')
  .copyright
    | &copy; OpenRGB, 2022
  div
    | OpenRGB is licensed under the GNU General Public License version 2
